<%= form_with(model: [:admin, @location], local: true) do |form| %>

  <% if @location.errors.any? %>
    <div id="error_explanation">
      <div class="head">
        <h2>
          <%= pluralize(@location.errors.count, "error") %> Prohibited
          this location from being saved:
        </h2>
      </div>
      <div class="error-list">
        <ul>
          <% @location.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    </div>
  <% end %>
  
  <div class="input-form">
    <div class="input-field">
      <%= form.label :city_name %><br>
      <div class="input-section">
        <%= form.text_field :city_name %>
      </div>
    </div>

    <div class="input-field">
      <%= form.label :country_name %><br>
      <div class="input-section">
        <%= form.text_field :country_name %>
      </div>
    </div>

    <div class="input-field">
      <%= form.label :pin %><br>
      <div class="input-section">
        <%= form.number_field :pin %>
      </div>
    </div>

    <div class="actions">
      <%= form.submit %>
    </div>
  </div>
<% end %>
