<%= form_with(model: @seeker, local: true) do |form| %>

<% if @seeker.errors.any? %>
  <div id="error_explanation">
    <div class="head">
      <h2>
        <%= pluralize(@seeker.errors.count, "error") %> Prohibited
        this seeker from being saved:
      </h2>
    </div>
    <div class="error-list">
      <ul>
        <% @seeker.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>

<div class="input-form">
  <div class="section">
    <div class="header">
      <strong>Student Information</strong>
    </div>

      <div class="input-field">
        <%= form.label :first_name %>
        <div class="input-section">
          <%= form.text_field :first_name, placeholder: "  Enter First Name*" %>
        </div>
      </div>

      <div class="input-field">
        <%= form.label :middle_name %>
        <div class="input-section">
          <%= form.text_field :middle_name, placeholder: "  Enter Middle Name" %>
        </div>
      </div>

      <div class="input-field">
        <%= form.label :last_name %>
        <div class="input-section">
          <%= form.text_field :last_name, placeholder: "  Enter Last Name*" %>
        </div>
      </div>

      <div class="input-field">
        <%= form.label :home_address %>
        <div class="input-section">
          <%= form.text_area :home_address, placeholder: " Enter Full Address*" %>
        </div>
      </div>

      <div class="input-field">
        <%= form.label :email %>
        <div class="input-section">
          <%= form.email_field :email, placeholder: "  Enter Email*" %>
        </div>
      </div>

      <div class="input-field">
        <%= form.label :phone %>
        <div class="input-section">
          <%= form.telephone_field :phone, placeholder: "  Enter Contact Number*" %>
        </div>
      </div>

      <div class="input-field">
        <%= form.label :birth_date %>
        <div class="input-section">
          <%= form.date_field :birth_date %>
        </div>
      </div>

      <div class="input-field">
        <%= form.label :gender %>
        <div class="input-section">
          <%= form.radio_button :gender, 'Male' %> Male
          <%= form.radio_button :gender, 'Female' %> Female
          <%= form.radio_button :gender, 'Other' %> Other
        </div>
      </div>
    </div>

    <div class="section">
      <div class="header">
        <strong>Student's Guardian Information</strong>
      </div>

      <div class="input-field">
        <%= form.label :father_name %>
        <div class="input-section">
          <%= form.text_field :father_name, placeholder: "  Enter Father Name*"%>
        </div>
      </div>

      <div class="input-field">
        <%= form.label :mother_name %>
        <div class="input-section">
          <%= form.text_field :mother_name, placeholder: "  Enter Mother Name*" %>
        </div>
      </div>

      <div class="input-field">
        <%= form.label :father_employment %>
        <div class="input-section">
          <%= form.text_field :father_employment, placeholder: "  Enter Father Employment*" %>
        </div>
      </div>

      <div class="input-field">
        <%= form.label :mother_employment %>
        <div class="input-section">
          <%= form.text_field :mother_employment, placeholder: "  Enter Mother Employment*" %>
        </div>
      </div>
    </div>

    <div class="section">
      <div class="header">
        <strong>Selection Information</strong>
      </div>

      <div class="input-field">
        <%= form.label :school_id %>
        <div class="input-section">
          <%= form.grouped_collection_select :school_id, Board.order(:board), :schools, :board, :id, :name %>
        </div>
      </div>

      <div class="input-field">
        <%= form.label :division_id %>
        <div class="input-section">
          <%= form.collection_select :division_id, Division.order(:division), :id, :division %>
        </div>
      </div>
    </div>

    <div class="actions">
      <%= form.submit %>
    </div>
  <% end %>
</div>

<div class="nav-back">
  <%= link_to "Back", seekers_path %>
</div>
