<p>
  <strong>Student Name:</strong>
  <%= @seeker.first_name %>
  <%= @seeker.middle_name %>
  <%= @seeker.last_name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @seeker.home_address %>
</p>

<p>
  <strong>Email:</strong>
  <%= @seeker.email %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @seeker.phone %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @seeker.gender %>
</p>

<p>
  <strong>Date:</strong>
  <%= @seeker.birth_date %>
</p>

<p>
  <strong>Father Name:</strong>
  <%= @seeker.father_name %>
</p>

<p>
  <strong>Father Employment:</strong>
  <%= @seeker.father_employment %>
</p>

<p>
  <strong>Mother Name:</strong>
  <%= @seeker.mother_name %>
</p>

<p>
  <strong>Mother Employment:</strong>
  <%= @seeker.mother_employment %>
</p>

<p>
  <strong>Board(Applied for):</strong>
  <%= @board.board %>
</p>

<p>
  <strong>School(Applied for):</strong>
  <%= @school.name %>
</p>

<p>
  <strong>Division/Class(Applied for):</strong>
  <%= @division.division %>
</p>
<%= link_to 'Back', seekers_path %>
