<div class="show_class">
  <div class="info">
    <div class="heading">
      <strong>Student Name:</strong>
    </div>
    <div class="data">
      <%= @seeker.first_name %>
      <%= @seeker.middle_name %>
      <%= @seeker.last_name %>
    </div>
  </div>

  <div class="info">
    <div class="heading">
      <strong>Address:</strong>
    </div>
    <div class="data">
      <%= @seeker.home_address %>
    </div>
  </div>

  <div class="info">
    <div class="heading">
      <strong>Email:</strong>
    </div>
    <div class="data">
      <%= @seeker.email %>
    </div>
  </div>

  <div class="info">
    <div class="heading">
      <strong>Phone:</strong>
    </div>
    <div class="data">
        <%= @seeker.phone %>
    </div>
  </div>


  <div class="info">
    <div class="heading">
      <strong>Gender:</strong>
    </div>
    <div class="data">
      <%= @seeker.gender %>
    </div>
  </div>

  <div class="info">
    <div class="heading">
      <strong>Date:</strong>
    </div>
    <div class="data">
      <%= @seeker.birth_date %>
    </div>
  </div>

  <div class="info">
    <div class="heading">
      <strong>Father Name:</strong>
    </div>
    <div class="data">
      <%= @seeker.father_name %>
    </div>
  </div>

  <div class="info">
    <div class="heading">
      <strong>Father Employment:</strong>
    </div>
    <div class="data">
      <%= @seeker.father_employment %>
    </div>
  </div>

  <div class="info">
    <div class="heading">
      <strong>Mother Name:</strong>
    </div>
    <div class="data">
      <%= @seeker.mother_name %>
    </div>
  </div>

  <div class="info">
    <div class="heading">
      <strong>Mother Employment:</strong>
    </div>
    <div class="data">
      <%= @seeker.mother_employment %>
    </div>
  </div>

  <div class="info">
    <div class="heading">
      <strong>Board(Applied for):</strong>
    </div>
    <div class="data">
      <%= @board.board %>
    </div>
  </div>

  <div class="info">
    <div class="heading">
      <strong>School(Applied for):</strong>
    </div>
    <div class="data">
      <%= @school.name %>
    </div>
  </div>

  <div class="info">
    <div class="heading">
      <strong>Division/Class(Applied for):</strong>
    </div>
    <div class="data">
      <%= @division.division %>
    </div>
  </div>
</div>

<% if current_user.try(:admin?) %>
  <p>
    <%= link_to 'Approve', admin_approve_path(@seeker) %>
    <%= link_to 'Reject', admin_reject_path(@seeker) %>
  </p>
<% end %>

<div class="nav-back">
  <%= link_to 'Back', seekers_path %>
</div>
