<%= form_with(model: [:admin, @board], local: true) do |form| %>

  <% if @board.errors.any? %>
    <div id="error_explanation">
      <div class="head">
        <h2>
          <%= pluralize(@board.errors.count, "error") %> Prohibited
          this board from being saved:
        </h2>
      </div>
      <div class="error-list">
        <ul>
          <% @board.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    </div>
  <% end %>
  
  <div class="input-form">
    <div class="input-field">
      <%= form.label :board %><br>
      <div class="input-section">
        <%= form.text_field :board %>
      </div>
    </div>

    <div class="input-field">
      <%= form.label :full_form %><br>
      <div class="input-section">
        <%= form.text_field :full_form %>
      </div>
    </div>

    <div class="input-field">
      <%= form.label :description %><br>
      <div class="input-section">
        <%= form.text_area :description %>
      </div>
    </div>

    <div class="actions">
      <%= form.submit %>
    </div>
  </div>

<% end %>
