<h2><%= @board.board %></h2>
<div class="show_class">
  <div class="info">
    <div class="heading">
      <strong>Board:</strong>
    </div>
    <div class="data">
      <%= @board.board %>
    </div>
  </div>

  <div class="info">
    <div class="heading">
      <strong>Full Form:</strong>
    </div>
    <div class="data">
      <%= @board.full_form %>
    </div>
  </div>

  <div class="info">
    <div class="heading">
      <strong>Description:</strong>
    </div>
    <div class="data">
      <%= @board.description %>
    </div>
  </div>
</div>

<div class="nav-back">
  <%= link_to 'Back', admin_boards_path %>
</div>
