<%= form_with(model: [:admin, @school], local: true) do |form| %>

    <% if @school.errors.any? %>
      <div id="error_explanation">
        <div class="head">
          <h2>
            <%= pluralize(@school.errors.count, "error") %> Prohibited
            this school from being saved:
          </h2>
        </div>
        <div class="error-list">
          <ul>
            <% @school.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
      </div>
    <% end %>

    <div class="input-form">
      <div class="input-field">
        <%= form.label :name %><br>
        <div class="input-section">
          <%= form.text_field :name, placeholder: "  Enter School Name" %>
        </div>
      </div>

      <div class="input-field">
        <%= form.label :image %><br>
        <div class="input-section">
          <%= form.file_field :image %>
        </div>
      </div>

      <div class="input-field">
        <%= form.label :description %><br>
        <div class="input-section">
          <%= form.text_area :description, placeholder: " Enter Description" %>
        </div>
      </div>

      <div class="input-field">
        <%= form.label :board_id %>
        <div class="input-section">
          <%= form.select :board_id, Board.all.collect { |b| [b.board, b.id] }, include_blank: true %>
        </div>
      </div>

      <div class="input-field">
        <%= form.label :location_id %>
        <div class="input-section">
          <%= form.select :location_id, Location.all.collect { |l| [l.city_name, l.id] }, include_blank: true %>
        </div>
      </div>

      <div class="actions">
        <%= form.submit %>
      </div>
    </div>
<% end %>
