<h1>Listing Schools</h1>

<table>
  <tr>
    <th>School Name</th>
    <th>Description</th>
    <% if current_user.try(:admin?) %>
      <th class="new_link"><%= link_to 'New School', new_admin_school_path %></th>
    <% end %>
  </tr>

  <% @schools.each do |school| %>
    <tr>
      <td><%= school.name %></td>
      <td><%= school.description %></td>
      <td class="link"><%= link_to 'Show', admin_school_path(school) %></td>
      <% if current_user.try(:admin?)%>
        <td class="link"><%= link_to 'Edit', edit_admin_school_path(school) %></td>
        <td class="link"><%= link_to 'Destroy', admin_school_path(school),
                method: :delete,
                data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </tr>
  <% end %>
</table>

<div class="nav-back">
  <% if current_user.try(:admin?) %>
    <%= link_to 'Back', admin_root_path %>
  <% else %>
    <%= link_to 'Back', root_path %>
  <% end %>
</div>
