<p>
  <strong>School Image:</strong>
  <%= image_tag(@school.image) %>
</p>

<p>
  <strong>School Name:</strong>
  <%= @school.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @school.description %>
</p>

<p>
  <strong>Location:</strong>
  <%= @location.city_name %>
</p>

<p>
  <strong>Location:</strong>
  <%= @board.board %>
</p>

<%= link_to 'Back', admin_schools_path %>
