<div class="info">
  <div class="heading">
    <strong>School Image:</strong>
  </div>
  <div class="data">
    <%= image_tag(@school.image) %>
  </div>
</div>

<div class="info">
  <div class="heading">
    <strong>School Name:</strong>
  </div>
  <div class="data">
    <%= @school.name %>
  </div>
</div>

<div class="info">
  <div class="heading">
    <strong>Description:</strong>
  </div>
  <div class="data">
    <%= @school.description %>
  </div>
</div>

<div class="info">
  <div class="heading">
    <strong>Location:</strong>
  </div>
  <div class="data">
    <%= @location.city_name %>
  </div>
</div>

<div class="info">
  <div class="heading">
    <strong>Board:</strong>
  </div>
  <div class="data">
    <%= @board.board %>
  </div>
</div>

<%= link_to 'Back', admin_schools_path %>
