<%= form_with(model: [:admin, @division], local: true) do |form| %>

  <% if @division.errors.any? %>
    <div id="error_explanation">
      <div class="head">
        <h2>
          <%= pluralize(@division.errors.count, "error") %> Prohibited
          this division from being saved:
        </h2>
      </div>
      <div class="error-list">
        <ul>
          <% @division.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="input-form">
    <div class="input-field">
      <%= form.label :division %><br>
      <div class="input-section">
        <%= form.text_field :division %>
      </div>
    </div>

    <div class="input-field">
      <%= form.label :stage %><br>
      <div class="input-section">
        <%= form.text_field :stage %>
      </div>
    </div>

    <div class="input-field">
      <%= form.label :description %><br>
      <div class="input-section">
        <%= form.text_area :description %>
      </div>
    </div>

    <div class="actions">
      <%= form.submit %>
    </div>
  </div>

<% end %>
