<h1>Approval section</h1>
<table>
  <tr>
    <th>Admission Seeker Name</th>
    <th>School</th>
    <th>Board</th>
    <th>Division</th>
  </tr>

  <% @seekers.each do |seeker| %>
    <% if seeker.approve == false && seeker.reject == false %>
      <tr>
        <td><%= seeker.first_name %> <%= seeker.middle_name %> <%= seeker.last_name %></td>
        <td><%= School.find(seeker.school_id).name %></td>
        <td><%= Board.find(seeker.school_id).board %></td>
        <td><%= Division.find(seeker.division_id).division %></td>
        <td class="link"><%= link_to 'Show', seeker_path(seeker) %></td>
        <td class="link"><%= link_to 'Approve', admin_approve_path(seeker) %></td>
        <td class="link"><%= link_to 'Reject', edit_admin_approval_path(seeker) %></td>
      </tr>
    <% end %>
  <% end %>
</table>

<div class="nav-back">
  <%= link_to "Back", root_path %>
</div>
